body {
  background: white;
}

.palette {
  margin-top: 100px;
  text-align: center;
  display: inline-block;
  margin: 100px 50px;
}

.boxLine {
  height: 100px;
  display: inline-block;
}

.box {
  height: 100px;
  width: 100px;
  margin: 6px 3px;
}

.paletteName {
  color: white;
}